<div class="offer">
    <div class="user">
        <img class="user-img" src="img/fake-profile.png"/>
        <div class="username">{{offer.user.username}}</div>
    </div>
    <div class="cash_amt">Cash: {{offer.cash_amt}}</div>
    <div class="venmo_amt">Venmo: {{offer.venmo_amt}}</div>
</div>