{{#if giving}}
    <div class="title">Here are some offers similar to yours...</div>
{{else}}
    <div class="title">Here are all the available offers in the area...</div>
{{/if}}
{{#each offers}}
    {{> offer offer=this}}
{{/each}}