body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;

}

.header {
    width: 100vw;
    height: 7vh;
    top: 0;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-img {
    height: 6vh;
    padding: .5vh .5vw .5vh .5vw;
}

.body {
    margin-top: 10vh;
    font-size: 1.75em;
}

.offer-form {
    border-style: solid;
    border-radius: 5px;
    width: 50vw;
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#form-amt, #form-comm, #form-loc, #form-select {
    margin: 1%;
    height: 2vh;
}
@media (max-width: 768px) {
    .offer-form {
        width: 100vw;
        border-style: none;
    }
    
}

.title {
    color: #3A7734;
}

#form-submit {
    padding: 1%;
    margin-bottom: 1vh;
    border-radius: 8px;
}
