<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>trackIt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet'>
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
    </head>
    <body>
        <h1>HJello</h1>
    </body>
</html>